.Header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.HeaderItem {
    display: inline-block;
    text-align: center;
    min-width: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.Header-Item-NavLink {
    text-decoration: none;
    color: rgb(117, 117, 117);
}

.Header-Item-NavLink:link,
.Header-Item-NavLink:visited,
.Header-Item-NavLink:hover,
.Header-Item-NavLink:active {
    text-decoration: none;
}

.active {
    color: rgb(33, 33, 33);
}